<aside class="sidebar" [class.open]="sidebarOpen">
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="./assets/images/my-avatar.png" alt="Reshav Kumar" width="80">
    </figure>
    <div class="info-content">
      <h1 class="name">Reshav Kumar</h1>
      <p class="title">Software developer</p>
    </div>
    <button (click)="toggleSidebar()" class="info_more-btn">
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more" *ngIf="sidebarOpen">
    <!-- Contacts list and social links -->
  </div>
</aside>
